<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Media\Picture" 
			 value="png;jpg;webp;gif;jpeg;jpeg2000"/>
		<add key="Media\Video"
			 value="mov;avi;flv;mp4"/>
		<add key="Media\Audio"
			 value="mp3;wav"/>
		<add key="Documents\Text"
			 value="txt;docx;doc;docm;dotx;dotm;docb"/>
		<add key="Documents\Spreadsheet"
			 value="csv;xsls;xla;xlam;xll;xlw;xlsx;xlsm;xltx;xltm;xlm;xls;xlt"/>
		<add key="Documents\pdf"
			 value="pdf"/>
		<add key="etc"
			 value="html;css;php;exe;zip;7z;rar"/>
	</appSettings>
</configuration>